:root {
  /* --main-color: #2962ff; */
  --main-color: #f03e3e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "open sans";
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
  background-color: #f0f0f0f0;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .logo {
  font-weight: 700;
  font-size: 1.7em;
  color: var(--main-color);
  text-decoration: none;
}
.navigation a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.1em;
  margin-left: 15px;
  font-weight: 500;
}
.navigation a:hover {
  color: #6200ea;
}
section {
  padding: 100px 200px;
}
.main {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424242;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;
  filter: brightness(80%);
  color: #fff;
}
.container {
  max-width: 50vw;
}
.main h2 {
  font-weight: 500;
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main h2 span {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 2.1em;
  color: var(--main-color);
  text-transform: capitalize;
}
.main h3 {
  /* color: #424242; */
  font-weight: 400;
  font-size: 1.4em;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.main p {
  margin-bottom: 30px;
  font-size: 1.1em;
  margin-bottom: 30px;
}
.main-btn {
  display: inline-block;
  text-decoration: none;
  color: #f4f4f4;
  background-color: var(--main-color);
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 1.2em;
  transition: 0.7s ease-in;
  transform-style: preserve-3d;
  margin-bottom: 50px;
}
.main-btn:hover {
  transform: scale(1.1);
  background-color: #1b4acc;
}


/* .profile-pic > * { */
  /* fill: url('./picture/profile.png'); */
/* } */
.profile-pic svg{
  fill: url('../picture/profile.png'
    );
}
.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
.social i {
  font-size: 2.2em;
  color: #fff;
  margin-right: 30px;
}

.title {
  color: var(--main-color);
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.icon {
  color: #1b4acc;
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: #1b4acc;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

/* projects */

.projects {
  background-color: #000032;
  background-color: #dee2e6;
}
.projects .title {
  margin-top: 30px;
}
.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #fff;
  min-height: 14em;
  width: 20rem;
  overflow: hidden;
  border-radius: 15px;
  margin: 2rem;
  transition: 0.7s ease;
}
.project-card:hover {
  transform: scale(1.06);
}
.project-card:hover .project-image {
  opacity: 0.9;
}
.project-image img {
  width: 100%;
  height: 16rem;
}
.project-info {
  padding: 1em;
  width: 100%;
}
.project-category {
  font-size: 0.8em;
  color: #000;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
  height: 2.5rem;
}
.more-details {
  width: 80%;
  text-align: right;
  text-decoration: none;
  color: #1b4acc;
}

.more-details:hover {
  color: #6200ea;
}

.contact .icon {
  font-size: 4.4em;
  margin-bottom: 30px;
}
.contact .info p {
  font-size: 1.2em;
  font-weight: 600;
}
.mail {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.footer {
  background-color: #000032;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.footer .cpy {
  color: #ff8a80;
}
.footer .social {
  width: fit-content;
}
.footer .social a i {
  font-size: 1.2em;
  margin-right: 10px;
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  header {
    padding: 10px 20px;
  }
  section {
    padding: 100px 20px;
  }
  .main {
    background-image: url("");
  }
  .container {
    width: 100vw;
  }
}
